*{
    margin: 0%;
    padding: 0%;
}
.remarks{
    text-align: justify;
    width: 60%;
}
h1{
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    padding: 2%;
}
h1:after{
    display: block;
    height: 4px;
    margin:0 auto;
    background-color:gold;
    content: " ";
    width:180px;
    margin-top: 40px;
}
