@media only screen and (max-width: 1205px) {
    .table{
        width: 60% !important;
    }

  }
  @media only screen and (max-width: 990px) {
    .table{
        width: 55% !important;
    }
  }
  @media only screen and (max-width: 790px) {
    .table{
        width: 75% !important;
    }


  }
  @media only screen and (max-width: 700px) {
    .table{
        width: 80% !important;
        background-color: blueviolet;
    }

  }